<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel text-center">
      <img src="/assets/logo_small.png">
    </div>
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active treeview">
        <a href="/home">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">          
        </ul>
      </li>
      <li><a href="/companies"><i class="fa fa-book"></i> <span>Companies</span></a></li>
      <li><a href="/users"><i class="fa fa-link" aria-hidden="true"></i><span>Users</span></a></li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> 
          <span>Projects</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">          
          <li class="active"><a href="/projects"><i class="fa fa-circle-o"></i>
           Projects</a></li>
          <li><a href="/tasks"><i class="fa fa-circle-o"></i> Tasks</a></li>
          <li ><a href="/project_tags"><i class="fa fa-circle-o"></i> Project Tags</a></li>
        </ul>

      </li> 


      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> 
          <span>Timesheets</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"> <a href="/timesheets"><i class="fa fa-circle-o"></i> Activities</a></li>
        </ul>

      </li> 


      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> 
          <span>Employees</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="/departments"><i class="fa fa-circle-o"></i> Departments</a></li>
          <li><a href="/designations"><i class="fa fa-circle-o"></i> Designations</a></li>
          <li><a href="/employees"><i class="fa fa-circle-o"></i> Employees</a></li>
        </ul>

      </li> 

      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> 
          <span>Recruitment</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu"> 
          <li class="active"><a href="/departments"><i class="fa fa-circle-o"></i> Departments</a></li>
          <li><a href="/hr_applicant_categories"><i class="fa fa-circle-o"></i> Tags</a></li>
          <li><a href="/hr_rec_degrees"><i class="fa fa-circle-o"></i>  Degrees</a></li>
          <li><a href="/hr_rec_sources"><i class="fa fa-circle-o"></i> Sources</a></li>
         <!--  <li><a href="/hr_rec_source_of_applications"><i class="fa fa-circle-o"></i> Source of Applicants</a></li> -->

        </ul>

      </li>


      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> 
          <span>Leave Management</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="/departments"><i class="fa fa-circle-o"></i> Departments</a></li>
          <li><a href="/leave_types"><i class="fa fa-circle-o"></i> Leave Types</a></li>
          <li><a href="/leaves"><i class="fa fa-circle-o"></i> Leaves</a></li>
        </ul>

      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> 
          <span>Surveys</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu"> 
          <li class="active"><a href="/surveys"><i class="fa fa-circle-o"></i> Survey</a></li>
        </ul>

      </li>


      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> 
          <span>Inventory</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">          
          <li class="treeview">
            <a href="/inventories/">
              <i class="fa fa-circle-o"></i>
              <span>Inventory Control</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a href="/inventories/products/"><i class="fa fa-home"></i>Product</a></li>
              <li class="active"><a href="/inventories/products/product_varient_index"><i class="fa fa-home"></i>Product Varient</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="/inventories">
              <i class="fa fa-circle-o"></i>
              <span>Routes</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a href="/inventories/stock_location_routes"><i class="fa fa-home"></i>Routes</a></li>
              <li class="active"><a href="/inventories/procurement_rules"><i class="fa fa-home"></i>Global Procurement Rules</a></li>
              <li class="active"><a href="/inventories/stock_location_paths"><i class="fa fa-home"></i>Global Push Rules</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="/inventories">
              <i class="fa fa-circle-o"></i>
              <span>Warehouse Management</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a href="/inventories/stock_warehouses"><i class="fa fa-home"></i> Warehouses</a></li>
              <li class="active"><a href="/inventories/stock_locations"><i class="fa fa-home"></i> Locations</a></li>
              <li class="active"><a href="/inventories/stock_picking_types"><i class="fa fa-home"></i> Operation Types</a></li> 
              <li class="active"><a href="/inventories/stock_incoterms"><i class="fa fa-home"></i> Incoterms</a></li>    
            </ul>
          </li>
          <li class="treeview">
            <a href="/inventories">
              <i class="fa fa-circle-o"></i>
              <span>Products</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
            <li class="active"><a href="/inventories/product_attributes"><i class="fa fa-home"></i> Product Attributes</a></li>  
             <li class="active"><a href="/inventories/product_attribute_values"><i class="fa fa-home"></i> Product Attribute Values</a></li>  
              <li class="active"><a href="/inventories/product_uom_categories"><i class="fa fa-home"></i> Unit of measure Categories</a></li>               
            </ul>
          </li> 
          <li class="treeview">
            <a href="/inventories">
              <i class="fa fa-circle-o"></i>
              <span>Packages</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a href="/inventories/products/package_index"><i class="fa fa-home"></i> Package Types</a></li>               
            </ul>
          </li> 
          <li><a href="/inventories/barcode_nomenclatures"><i class="fa fa-circle-o"></i> Barcode Nomenclature</a></li>         
          <li><a href="/inventories/product_uoms"><i class="fa fa-circle-o"></i> Unit of Measure</a></li>                   
        </ul>
      </li>  
    </ul>        
  </section>
</aside>